

<body>
    <!-- banner -->
    <section class="banner">
        <div class="container mx-auto flex items-center justify-between">
            <div class="p-10">
                <h4 class="uppercase text-7xl font-bold">quality f<span class="banner-text-color">oo</span>ds</h4>
                <h6 class="uppercase italic text-3xl mt-5">Hungry?</h6>
                <a href=""><button class="btn uppercase my-btn-1">Order now</button></a>
            </div>
            <div class="p-10">
                <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_ewzbzcaw.json" background="transparent"  speed="1"  style="width: 500px; height: 500px;" loop autoplay></lottie-player>
            </div>
        </div>
    </section>
    <!-- splash color top -->
    <div>
        <img src="/images/color-splash-top.png" alt="color-splash">
    </div>
        <!-- quality sections -->
    <section class="quality">
        <div class="flex justify-center">
                <div class="text-center p-6 m-2">
                    <h1><i class="fa-solid fa-utensils fa-3x quality-section-icons"></i></h1>
                    <h1 class="m-6 uppercase font-bold">Order Your Food</h1>
                    <p class="display: inline-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, consequatur.</p>
                </div>
                <div class="text-center p-6 m-2">
                    <h1><i class="fa-solid fa-pizza-slice fa-3x quality-section-icons"></i></h1>
                    <h1 class="m-6 uppercase font-bold">Order Your Food</h1>
                    <p class="display: inline-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, mollitia.</p>
                </div>
                <div class="text-center p-6 m-2">
                    <h1><i class="a-solid fa-pizza-slice fa-3x quality-section-icons"></i></h1>
                    <h1 class="m-6 uppercase font-bold">Order Your Food</h1>
                    <p class="display: inline-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ipsam?</p>
                </div>
        </div>
    </section>
    <!-- splash color bottom -->
    <div>
        <img src="/images/color-splash-bottom.png" alt="color-splash">
    </div>

    <section class="speciality">
        <div class="flex flex-col justify-center items-center">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
        
    </section>
</body>
